<div class="site-header">
  <header>
    <img src="<%= relative_url '/images/tss-logo.png' %>" alt="Logo" />
  </header>

  <nav>
    <ul class="site-nav">
      <li><a href="<%= relative_url '/values' %>">Values</a></li>
      <li><a href="<%= relative_url '/services' %>">Services</a></li>
      <li><a href="<%= relative_url '/partnerships' %>">Partnerships</a></li>
      <li><a href="<%= relative_url '/contact' %>">Say Hello</a></li>
    </ul>
  </nav>
</div>
