<div class="site-header">
  <header>
    <a href="/"><img src="<%= relative_url '/images/tss-logo.png' %>" alt="Logo" /></a>
  </header>

  <nav>
    <ul class="site-nav">
      <li class="site-nav__item"><a href="<%= relative_url '/values' %>" class="<%= active_class?("/values/") %>">Values</a></li>
      <li class="site-nav__item"><a href="<%= relative_url '/services' %>" class="<%= active_class?("/services/") %>">Services</a></li>
      <li class="site-nav__item"><a href="<%= relative_url '/partnerships' %>" class="<%= active_class?("/partnerships/") %>">Partnerships</a></li>
      <li class="site-nav__item"><a href="<%= relative_url '/contact' %>" class="site-nav__contact <%= active_class?("/contact/") %>">Say Hello</a></li>
    </ul>
  </nav>
</div>
